In [5]:
import sqlite3
import json

# Load the JSON data
with open('vehicles.json') as f:
    json_data = json.load(f)

# Connect to the SQLite database
conn = sqlite3.connect('cars.db')
cursor = conn.cursor()

# Create a table
cursor.execute(
    CREATE TABLE IF NOT EXISTS Cars ( 
        Condition VARCHAR(10),
        Year INT,
        Mileage INT,
        Interior_Color VARCHAR(10),
        Transmission VARCHAR(20),
        Fuel_Consumption INT,
        Fuel_Type VARCHAR(10),
        Horse_Power INT,
        Engine_Size INT,
        Exterior_Color VARCHAR(10),
        Number_of_doors INT,
        Engine VARCHAR(10),
        Body_Type VARCHAR(10),
        Number_of_Cylinders INT,
        Make VARCHAR(20),
        Drive_Type VARCHAR(10),
        Model VARCHAR(20),
        Country_of_Manufacture VARCHAR(50),
        Vehicle_Title VARCHAR(30)
    )
);






# Insert data into the table
for item in json_data:
    cursor.execute('''INSERT INTO my_table (name, age, email)
                      VALUES (?, ?, ?)''',
                   (item['name'], item['age'], item['email']))

# Commit the changes and close the connection
conn.commit()
conn.close()

''')
# Insert JSON data into the table
for item in json_data:
    cursor.execute('''
    # INSERT INTO Cars(Condition, Year, Mileage, Interior_Color, Transmission, Fuel_Consumption, Fuel_Type, Horse_Power, Engine_Size,
    # Exterior_Color, Number_of_doors, Engine, Body_Type, Number_of_Cylinders, Make, Drive_Type, Model, Country_of_Manufacture,
    # Vehicle_Title, Price, Sold_Date)
    # VALUES(?, ?, ?, ?)


    ''', (item['title'], item['price'], item['sold_date'], item['item_url']))
# Commit the transaction and close the connection
conn.commit()
conn.close()

SyntaxError: invalid syntax (3710403308.py, line 14)