In [1]:
import json
from datetime import datetime
import pandas as pd
import numpy as np
from pprint import pprint
import re

In [2]:
compiled_data_df = pd.read_json('./data/all_data.json')
compiled_data_df.head()

,condition,year,mileage,interior_color,transmission,fuel_consumption_rate,fuel_type,horse_power,engine_size,exterior_color,...,number_of_cylinders,make,drive_type,model,country_of_manufacture,vehicle_title,page_title,price,sold_date,url
0,Used,2019,51900,Black,Automatic,City 18/Hwy 27/Comb 21 MPG,Gasoline,335,3.6 L,Black,...,6,Cadillac,AWD,CT6,United States,"Rebuilt, Rebuildable & Reconstructed",2019 Cadillac CT6 PREMIUM LUXURY,$1.30,"SOLD May 25, 2023",https://www.ebay.com/itm/185913370660?hash=ite...
1,Used: A vehicle is considered used if it has b...,2010,52000,Tan,Manual,,Gasoline,,,Aqua,...,6,Lotus,2WD,Evora,United Kingdom,Clean,2010 Lotus Evora,"$34,303.00","SOLD Jun 14, 2023",https://www.ebay.com/itm/404323396737?hash=ite...
2,Used,2016,78000,Black,Automatic,,Gasoline,,5.7 L,Gray,...,8,Toyota,4WD,Land Cruiser,Japan,Clean,2016 Toyota Land Cruiser,"$55,400.00","SOLD Jun 5, 2023",https://www.ebay.com/itm/266273540664?hash=ite...
3,Used,2018,42900,EBONY W YELLOW STITCH,Automatic,,Gasoline,400,,SANTORINI BLACK METALLIC,...,6,Jaguar,AWD,F-Type,,Salvage,2018 Jaguar F-Type P400 AWD CONVERTIABLE MSRP ...,"$42,000.00","SOLD Jun 4, 2023",https://www.ebay.com/itm/204351768498?hash=ite...
4,Used: A vehicle is considered used if it has b...,2017,29000,,Automatic,,Gasoline,,,Black,...,4,Nissan,FWD,Altima,,"Rebuilt, Rebuildable & Reconstructed",2017 Nissan Altima 2.5,"$5,850.00","SOLD Jun 12, 2023",https://www.ebay.com/itm/314638300215?hash=ite...

In [3]:
compiled_data_df = compiled_data_df.replace('', np.nan)
compiled_data_df.head()

,condition,year,mileage,interior_color,transmission,fuel_consumption_rate,fuel_type,horse_power,engine_size,exterior_color,...,number_of_cylinders,make,drive_type,model,country_of_manufacture,vehicle_title,page_title,price,sold_date,url
0,Used,2019,51900,Black,Automatic,City 18/Hwy 27/Comb 21 MPG,Gasoline,335,3.6 L,Black,...,6,Cadillac,AWD,CT6,United States,"Rebuilt, Rebuildable & Reconstructed",2019 Cadillac CT6 PREMIUM LUXURY,$1.30,"SOLD May 25, 2023",https://www.ebay.com/itm/185913370660?hash=ite...
1,Used: A vehicle is considered used if it has b...,2010,52000,Tan,Manual,NaN,Gasoline,NaN,NaN,Aqua,...,6,Lotus,2WD,Evora,United Kingdom,Clean,2010 Lotus Evora,"$34,303.00","SOLD Jun 14, 2023",https://www.ebay.com/itm/404323396737?hash=ite...
2,Used,2016,78000,Black,Automatic,NaN,Gasoline,NaN,5.7 L,Gray,...,8,Toyota,4WD,Land Cruiser,Japan,Clean,2016 Toyota Land Cruiser,"$55,400.00","SOLD Jun 5, 2023",https://www.ebay.com/itm/266273540664?hash=ite...
3,Used,2018,42900,EBONY W YELLOW STITCH,Automatic,NaN,Gasoline,400,NaN,SANTORINI BLACK METALLIC,...,6,Jaguar,AWD,F-Type,NaN,Salvage,2018 Jaguar F-Type P400 AWD CONVERTIABLE MSRP ...,"$42,000.00","SOLD Jun 4, 2023",https://www.ebay.com/itm/204351768498?hash=ite...
4,Used: A vehicle is considered used if it has b...,2017,29000,NaN,Automatic,NaN,Gasoline,NaN,NaN,Black,...,4,Nissan,FWD,Altima,NaN,"Rebuilt, Rebuildable & Reconstructed",2017 Nissan Altima 2.5,"$5,850.00","SOLD Jun 12, 2023",https://www.ebay.com/itm/314638300215?hash=ite...

In [4]:
compiled_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4750 entries, 0 to 4749
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   condition               4252 non-null   object
 1   year                    4252 non-null   object
 2   mileage                 4252 non-null   object
 3   interior_color          3303 non-null   object
 4   transmission            3629 non-null   object
 5   fuel_consumption_rate   31 non-null     object
 6   fuel_type               3620 non-null   object
 7   horse_power             37 non-null     object
 8   engine_size             131 non-null    object
 9   exterior_color          4020 non-null   object
 10  number_of_doors         905 non-null    object
 11  engine                  3393 non-null   object
 12  body_type               3848 non-null   object
 13  number_of_cylinders     3029 non-null   object
 14  make                    4252 non-null   object
 15  drive_type              3858 non-null   object
 16  model                   4250 non-null   object
 17  country_of_manufacture  68 non-null     object
 18  vehicle_title           4252 non-null   object
 19  page_title              4750 non-null   object
 20  price                   4750 non-null   object
 21  sold_date               4750 non-null   object
 22  url                     4750 non-null   object
dtypes: object(23)
memory usage: 853.6+ KB

In [5]:
compiled_data_df.drop(['fuel_consumption_rate', 'horse_power', 'engine_size', 'country_of_manufacture', 'number_of_doors'], axis=1, inplace=True)
compiled_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4750 entries, 0 to 4749
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   condition            4252 non-null   object
 1   year                 4252 non-null   object
 2   mileage              4252 non-null   object
 3   interior_color       3303 non-null   object
 4   transmission         3629 non-null   object
 5   fuel_type            3620 non-null   object
 6   exterior_color       4020 non-null   object
 7   engine               3393 non-null   object
 8   body_type            3848 non-null   object
 9   number_of_cylinders  3029 non-null   object
 10  make                 4252 non-null   object
 11  drive_type           3858 non-null   object
 12  model                4250 non-null   object
 13  vehicle_title        4252 non-null   object
 14  page_title           4750 non-null   object
 15  price                4750 non-null   object
 16  sold_date            4750 non-null   object
 17  url                  4750 non-null   object
dtypes: object(18)
memory usage: 668.1+ KB

In [6]:
compiled_data_df.drop(['number_of_cylinders', 'interior_color', 'exterior_color'], axis=1, inplace=True)
compiled_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4750 entries, 0 to 4749
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   condition      4252 non-null   object
 1   year           4252 non-null   object
 2   mileage        4252 non-null   object
 3   transmission   3629 non-null   object
 4   fuel_type      3620 non-null   object
 5   engine         3393 non-null   object
 6   body_type      3848 non-null   object
 7   make           4252 non-null   object
 8   drive_type     3858 non-null   object
 9   model          4250 non-null   object
 10  vehicle_title  4252 non-null   object
 11  page_title     4750 non-null   object
 12  price          4750 non-null   object
 13  sold_date      4750 non-null   object
 14  url            4750 non-null   object
dtypes: object(15)
memory usage: 556.8+ KB

In [7]:
compiled_data_df.dropna(inplace=True)
compiled_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3040 entries, 0 to 4749
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   condition      3040 non-null   object
 1   year           3040 non-null   object
 2   mileage        3040 non-null   object
 3   transmission   3040 non-null   object
 4   fuel_type      3040 non-null   object
 5   engine         3040 non-null   object
 6   body_type      3040 non-null   object
 7   make           3040 non-null   object
 8   drive_type     3040 non-null   object
 9   model          3040 non-null   object
 10  vehicle_title  3040 non-null   object
 11  page_title     3040 non-null   object
 12  price          3040 non-null   object
 13  sold_date      3040 non-null   object
 14  url            3040 non-null   object
dtypes: object(15)
memory usage: 380.0+ KB

In [8]:
compiled_data_df.head()

,condition,year,mileage,transmission,fuel_type,engine,body_type,make,drive_type,model,vehicle_title,page_title,price,sold_date,url
0,Used,2019,51900,Automatic,Gasoline,3.6L Gas V6,Sedan,Cadillac,AWD,CT6,"Rebuilt, Rebuildable & Reconstructed",2019 Cadillac CT6 PREMIUM LUXURY,$1.30,"SOLD May 25, 2023",https://www.ebay.com/itm/185913370660?hash=ite...
2,Used,2016,78000,Automatic,Gasoline,5.7L Gas V8,SUV,Toyota,4WD,Land Cruiser,Clean,2016 Toyota Land Cruiser,"$55,400.00","SOLD Jun 5, 2023",https://www.ebay.com/itm/266273540664?hash=ite...
3,Used,2018,42900,Automatic,Gasoline,3.0L Gas V6,Convertible,Jaguar,AWD,F-Type,Salvage,2018 Jaguar F-Type P400 AWD CONVERTIABLE MSRP ...,"$42,000.00","SOLD Jun 4, 2023",https://www.ebay.com/itm/204351768498?hash=ite...
4,Used: A vehicle is considered used if it has b...,2017,29000,Automatic,Gasoline,2.5L Gas I4,Sedan,Nissan,FWD,Altima,"Rebuilt, Rebuildable & Reconstructed",2017 Nissan Altima 2.5,"$5,850.00","SOLD Jun 12, 2023",https://www.ebay.com/itm/314638300215?hash=ite...
5,Used,2016,63300,Automatic,Gasoline,5.0L Gas V8,Sedan,Hyundai,RWD,Equus,"Rebuilt, Rebuildable & Reconstructed",2016 Hyundai Equus ultimate,"$13,050.00","SOLD Jun 3, 2023",https://www.ebay.com/itm/304951503112?hash=ite...

In [9]:
makes = compiled_data_df['make'].unique()
models = compiled_data_df['model'].unique()
print(len(models))

410

In [10]:
compiled_data_df.dtypes

condition        object
year             object
mileage          object
transmission     object
fuel_type        object
engine           object
body_type        object
make             object
drive_type       object
model            object
vehicle_title    object
page_title       object
price            object
sold_date        object
url              object
dtype: object

In [11]:
def ConvertStringToDate(str):
    format = ' %b %d, %Y'
    time = str.replace('SOLD ', '')
    time = datetime.strptime(time, format)
    return time

compiled_data_df['sold_date'] = compiled_data_df['sold_date'].apply(lambda x: ConvertStringToDate(x))
compiled_data_df.head()

,condition,year,mileage,transmission,fuel_type,engine,body_type,make,drive_type,model,vehicle_title,page_title,price,sold_date,url
0,Used,2019,51900,Automatic,Gasoline,3.6L Gas V6,Sedan,Cadillac,AWD,CT6,"Rebuilt, Rebuildable & Reconstructed",2019 Cadillac CT6 PREMIUM LUXURY,$1.30,2023-05-25,https://www.ebay.com/itm/185913370660?hash=ite...
2,Used,2016,78000,Automatic,Gasoline,5.7L Gas V8,SUV,Toyota,4WD,Land Cruiser,Clean,2016 Toyota Land Cruiser,"$55,400.00",2023-06-05,https://www.ebay.com/itm/266273540664?hash=ite...
3,Used,2018,42900,Automatic,Gasoline,3.0L Gas V6,Convertible,Jaguar,AWD,F-Type,Salvage,2018 Jaguar F-Type P400 AWD CONVERTIABLE MSRP ...,"$42,000.00",2023-06-04,https://www.ebay.com/itm/204351768498?hash=ite...
4,Used: A vehicle is considered used if it has b...,2017,29000,Automatic,Gasoline,2.5L Gas I4,Sedan,Nissan,FWD,Altima,"Rebuilt, Rebuildable & Reconstructed",2017 Nissan Altima 2.5,"$5,850.00",2023-06-12,https://www.ebay.com/itm/314638300215?hash=ite...
5,Used,2016,63300,Automatic,Gasoline,5.0L Gas V8,Sedan,Hyundai,RWD,Equus,"Rebuilt, Rebuildable & Reconstructed",2016 Hyundai Equus ultimate,"$13,050.00",2023-06-03,https://www.ebay.com/itm/304951503112?hash=ite...

In [12]:
compiled_data_df['condition'].unique()

array(['Used',
       "Used: A vehicle is considered used if it has been registered and issued a title. Used vehicles have ...  Read moreabout the conditionUsed: A vehicle is considered used if it has been registered and issued a title. Used vehicles have had at least one previous owner. The condition of the exterior, interior and engine can vary depending on the vehicle's history. See the seller's listing for full details and description of any imperfections. See all condition definitionsopens in a new window or tab ",
       "Certified pre-owned: To qualify for certified pre-owned status, vehicles must meet strict age, ...  Read moreabout the conditionCertified pre-owned: To qualify for certified pre-owned status, vehicles must meet strict age, mileage, and inspection requirements established by their manufacturers. Certified pre-owned cars are often sold with warranty, financing and roadside assistance options similar to their new counterparts. See the seller's listing for full details. See all condition definitionsopens in a new window or tab ",
       "New: A vehicle is considered new if it is purchased directly from a new car franchise dealer and has ...  Read moreabout the conditionNew: A vehicle is considered new if it is purchased directly from a new car franchise dealer and has not yet been registered and issued a title. New vehicles are covered by a manufacturer's new car warranty and are sold with a window sticker (also known as a “Monroney Sticker”) and a Manufacturer's Statement of Origin. These vehicles have been driven only for demonstration purposes and should be in excellent running condition with a pristine interior and exterior. See the seller's listing for full details.  See all condition definitionsopens in a new window or tab ",
       'Certified pre-owned'], dtype=object)

In [13]:
def FilterCondition(string):
    if "Used" in string:
        return "Used"
    if "Certified pre-owned" in string:
        return "Certified pre-owned"
    if "New" in string:
        return "New"
    
compiled_data_df['condition'] = compiled_data_df['condition'].apply(lambda x: FilterCondition(x))
compiled_data_df['condition'].unique()

array(['Used', 'Certified pre-owned', 'New'], dtype=object)

In [14]:
compiled_data_df['mileage'] = compiled_data_df['mileage'].astype(int)
compiled_data_df['year'] = compiled_data_df['year'].astype(int)
compiled_data_df.dtypes

condition                object
year                      int64
mileage                   int64
transmission             object
fuel_type                object
engine                   object
body_type                object
make                     object
drive_type               object
model                    object
vehicle_title            object
page_title               object
price                    object
sold_date        datetime64[ns]
url                      object
dtype: object

In [15]:
def CleanPriceString(string):
    new_string =  string.replace('$', '')
    new_string = new_string.replace(',', '')
    return new_string

compiled_data_df['price'] = compiled_data_df['price'].apply(lambda x: CleanPriceString(x))

compiled_data_df['price'] = compiled_data_df['price'].astype(float)
compiled_data_df.dtypes

condition                object
year                      int64
mileage                   int64
transmission             object
fuel_type                object
engine                   object
body_type                object
make                     object
drive_type               object
model                    object
vehicle_title            object
page_title               object
price                   float64
sold_date        datetime64[ns]
url                      object
dtype: object

In [16]:
compiled_data_df.head()

,condition,year,mileage,transmission,fuel_type,engine,body_type,make,drive_type,model,vehicle_title,page_title,price,sold_date,url
0,Used,2019,51900,Automatic,Gasoline,3.6L Gas V6,Sedan,Cadillac,AWD,CT6,"Rebuilt, Rebuildable & Reconstructed",2019 Cadillac CT6 PREMIUM LUXURY,1.3,2023-05-25,https://www.ebay.com/itm/185913370660?hash=ite...
2,Used,2016,78000,Automatic,Gasoline,5.7L Gas V8,SUV,Toyota,4WD,Land Cruiser,Clean,2016 Toyota Land Cruiser,55400.0,2023-06-05,https://www.ebay.com/itm/266273540664?hash=ite...
3,Used,2018,42900,Automatic,Gasoline,3.0L Gas V6,Convertible,Jaguar,AWD,F-Type,Salvage,2018 Jaguar F-Type P400 AWD CONVERTIABLE MSRP ...,42000.0,2023-06-04,https://www.ebay.com/itm/204351768498?hash=ite...
4,Used,2017,29000,Automatic,Gasoline,2.5L Gas I4,Sedan,Nissan,FWD,Altima,"Rebuilt, Rebuildable & Reconstructed",2017 Nissan Altima 2.5,5850.0,2023-06-12,https://www.ebay.com/itm/314638300215?hash=ite...
5,Used,2016,63300,Automatic,Gasoline,5.0L Gas V8,Sedan,Hyundai,RWD,Equus,"Rebuilt, Rebuildable & Reconstructed",2016 Hyundai Equus ultimate,13050.0,2023-06-03,https://www.ebay.com/itm/304951503112?hash=ite...

In [17]:
compiled_data_df['engine'].unique()

array(['3.6L Gas V6', '5.7L Gas V8', '3.0L Gas V6', '2.5L Gas I4',
       '5.0L Gas V8', '6.4L Gas V8', '2.0L Gas I4',
       '4 Cylinder Engine 1.8L', '3.5L Gas V6', '5.2L Gas V10',
       '3.0 LITER TWIN TURBO I-6 ENGINE', '3.5L V6 24V',
       '8 Cylinder Engine 4.6L/281', 'ENGINE: 2.3L GTDI', '3.6L V6 24V',
       '2.0 LITER TURBOCHARGED 4-CYLINDER ENGINE', '2.0L I4 Turbocharger',
       '2.0L Gas I4 Turbo', '2L I4 16V', 'Electric',
       '3.6 LITER V6 ENGINE', '1.6L I4 16V', '2.4L 185hp', '3.7L Gas V6',
       '1.5 LITER TURBOCHARGED I-4 ENGINE', '2.3L Gas I4', '4.4L Gas V8',
       '2.4L Gas I4', '1.6L Gas I4',
       'ENGINE, 3.0L V6 SIDI (SPARK IGNITION DIRECT INJECTION)', '5.7 LT',
       '5 Cylinder Engine 3.7L', '3.0L V6', 'V6 Cylinder Engine 3.6L/220',
       'V6 Cylinder Engine 3.6L', '5.0', '4 Cylinder Engine 1.4L/83',
       '2.0L 211hp', '4 Cylinder Engine 2.5L', '6.2L',
       '4 Cylinder Engine 1.4L/85', '4 Cylinder Engine 2.4L',
       '8 Cylinder Engine 4.6L/285', '3.0 LITER TURBO I-6 ENGINE',
       '1.8L I4 16V', '3.5L V6 Twin Turbocharger', '2.0L',
       'V6 Cylinder Engine 3.5L/212', 'Diesel 4 Cylinder Engine 2.0L/120',
       'V6, Turbo Diesel, 3.0 Liter', '3.0L Diesel V6', '1.4L I4 16V',
       '3.0 LITER TURBOCHARGED I-6 ENGINE',
       '3.0 LITER TWIN TURBO V6 ENGINE', '2L H4 16V',
       '3.5L Electric and Gas Hybrid V6',
       'Diesel Straight 6 Cylinder Engine 3.0L',
       'V6 Cylinder Engine 3.5L/214', '8 Cylinder Engine 5.3L/325',
       '3.5 LITER ECOBOOST V6 ENGINE', '5.3 LITER V8 ENGINE',
       '1.2L I4 16V', '1.5L Electric and Gas Hybrid I4',
       '2.0 LITER ECOBOOST TURBOCHARGED 4-CYLINDER ENGINE',
       'Electric Motor', '3L I6 24V', '3.0L TWIN TURBO', 'Plug-in Hybrid',
       'V6 Cylinder Engine 4.0L/241', 'V6 Cylinder Engine 3.5L',
       '4.7L Gas V8', '4 Cylinder Engine 2.5L/150',
       '2.7 LITER ECOBOOST TURBO V6 ENGINE', '3.5L Gas V6 tubo',
       '1.5L I4 16V', '4 Cylinder Engine 2.4L/145', '6.7L Diesel I6',
       '2.0 LITER TURBOCHARGED 4 CYLINDER ENGINE', '2.0L TURBOCHARGED',
       '4 Cylinder Engine 1.8L/110', '3.0L Twin Turbo',
       '8 Cylinder Engine 5.7L/346', '8 Cylinder Engine 6.0L/366',
       '3.6L V6', '4 Cylinder Engine 2.4L/144',
       '5 Cylinder Engine 2.5L/151', '2.7L V6 Twin Turbocharger',
       '2.7L Gas V6', 'Dual AC ElectricMotors HP', '5.7L V8',
       '3.0L Diesel I6', '2.1 Liter 4 Cylinder Diesel',
       '3.5 Liter V6 Engine',
       'Diesel Straight 6 Cylinder Engine 3.0L/182',
       'V6 Cylinder Engine 3.5L/211', 'TWIN TURBO V6',
       'Twin-Turbocharged 6.0L W12 Engine', '5.4L V8 16V',
       '6.2L EFI V8 Engine', '1.6L I4 Turbocharger',
       '3.0L V6 24V GDI DOHC Supercharged', '3L V6 24V',
       '3.7 LITER V6 ENGINE', '1.8L Gas I4', '5.7 LITER V8  HEMI ENGINE',
       '3.0L Gas I6', '3.2L Flexible V6',
       '1.8L Electric and Gas Hybrid I4', '2.0L Diesel I4', '6.2L Gas V8',
       'Turbo charged 2.0 L 4-cylinder.', '3.0L V6 Twin Turbocharger',
       '4 Cylinder Engine 2.0L', '3.6L Flexible V6',
       '2.5L I4 Atkinson-Cycle Hybrid', '3.5 LITER V6 ENGINE',
       '2.5L L4 DOHC 16V', '2.0L Electric and Gas Hybrid I4', '4.0L V6',
       '2.0L Gas H4', '3.5L V6 F DOHC 24V', '2.5L Gas H4',
       'Diesel 4 Cylinder Engine 2.0L', '3.0L V6 TWIN TURBOCHARGED',
       '3.5L 6-Cylinder V6', '1.3L Gas I4', 'V8 5.0L Supercharged',
       '2.5L I4 16V', '2.4 LITER I-4 ENGINE', '5.6L V8 400hp 413ft. lbs.',
       '1.7L Gas I4', '5.7 V8', 'V6 Cylinder Engine 3.0L/183',
       '4 Cylinder Engine 1.6L', 'Diesel 8 Cylinder Engine 6.6L/403',
       'Boxer', 'V6 Cylinder Engine 3.7L/226', '6.2L Flexible V8',
       '4.6 liter , V8, twin turbo', '6.2L V8 ENGINE',
       '4 Cylinder Engine 2.0L/122',
       'Straight 6 Cylinder Engine 3.0L/182', '3 Cylinder Engine 1.0L',
       '5.7 LITER V8 HEMI ENGINE', '3.5L V6',
       '2.0L SKYACTIV-G DOHC 16-VALVE 4-CYLINDER',
       '0.7L Electric and Gas Hybrid I2', '2.0L I4', '2.4L I4 16V',
       '2.0L Flexible I4', '2.0L 4-Cylinder DOHC 16V',
       '8 Cylinder Engine 5.6L/339', 'V6 Cylinder Engine 3.7L/227',
       '1.4L Gas I4', '3.6L T', '3.6', '4.0L Gas V6', '2.4L Flexible I4',
       'V6 Cylinder Engine 3.0L/182', 'V6 Cylinder Engine 4.0L',
       'Straight 6 Cylinder Engine 3.2L/195', '1.5L Gas I4', '2.0L T',
       'CJA', '3.5L V6 DOHC 24V', '2.0 TURBO', '5.7L Gas V8 HEMI',
       '3.0 Liter', '--', '4 Cylinder Engine 1.5L', '3.4L Gas H6',
       '4 Cylinder Engine 2.3L', '2.4L L4', '5.7L HEMI',
       'Diesel V6 Cylinder Engine 3.0L/183', '3.0 Liter V6 Diesel',
       '2.0 L 4-cylinder', '6.8L Gas V10', '4.6 liter V8 twin turbo',
       '3.6L DI DOHC V6 VVT', '3.6L  V-6', '4 Cylinder Engine 2.5L/152',
       'V8', '6.2L Gas V8 super charged', 'v8', '2.5L  H4',
       '4.6L Flexible V8', '2.7 LITER * 4-CYLINDER ENGINE', '4.0L V8 S65',
       '1.2L Gas I3', 'V6 Cylinder Engine 3.6L/217', '4.8L Gas V8',
       '5.7 Hemi', '2.5i', '5.0L Diesel V8', '2.0L 4-Cylinder EFI DOHC',
       'V6 Cylinder Engine 3.0L', '6.2L SUPERCHARGER',
       'Flat 6 Cylinder Engine 3.6L', '3.8L Gas V6', '6L V8 16V',
       '3.3L Gas V6', 'Regular Unleaded V-6 3.6 L/220', '3.3L V6 24V',
       '5.4L EFI Triton V8 FFV engine', '4 Cylinder Engine 2.0L/121',
       '6.0L W 12', '3.6L V6 ENGINE (CHEVROLET)', '3.6 LITER V6  ENGINE',
       '1.5 LITER TURBOCHARGED 4 CYLINDER ENGINE', '4.6L Gas V8',
       '3.2L Diesel I5', '4.6L V8 32V', '4 Cylinder Engine 1.6L/98',
       '4 Cylinder Engine 1.6L/97', '3.0 L twin turbo', '3.0L', '2.0',
       '6.2 Gas', '3.8L Gas H6', 'Electric UU',
       '2.5L DOHC SFI 16-Valve I4 Engine',
       'Regular Unleaded V-6 3.5 L/211', '2.5L I5 20V', '5.3L Gas V8',
       '6.2 L,', '5.3L Flexible V8', 'V6 Cylinder Engine 3.7L',
       'V6 Cylinder Engine 3.3L/211', '3.7L V6 24V', '6.7 Cummins',
       'Cummins', 'V6 Cylinder Engine 3.5L/213', '8', '4.0L Gas V8',
       '1.6L Electric and Gas Hybrid I4', '6.7l diesel', '2.7L Gas I4',
       '616HP W12', 'V6, 3.5 Liter', '2.4L V6 DOHC 24V',
       '4.6 LITER * 8-CYLINDER ENGINE', '2.5 LITER 4 CYLINDER ENGINE',
       'V6 Cylinder Engine 3.6L/222', '6.7L I-6 TURBO-DIESEL ENGINE',
       'Engine: 2.0L TDI Diesel', '3.6 liter v6 24v', '3.5',
       '250 Ecoboost', '5.6L Gas V8', '1.6 LITER FOUR CYLINDER ENGINE',
       '6.7L V8 OHV 16V DIESEL', '3.8L V6', '6-Cyl, Turbo, 3.0 Liter',
       '5.5L Gas V8', '5L V8 32V', '3.7L V6 12V', '1.5L 4 CYLINDER',
       'Vortec Iron Block 5.3L Flex Fuel V8 320hp 335ft. l',
       '2.0L L4 DOHC 16V HYBRID', 'Straight 6 Cylinder Engine 3.0L/183',
       '3.5L V6 SOHC i-VTEC 24V', 'Dual Motor', '2.4L 4Cyl 185hp',
       'V6 Cylinder Engine 4.3L/262', '1.6 TURBO',
       '3.0 LITER SUPERCHARGED V6 ENGINE', '4-cyl', '3.5L TWIN-TURBO V6',
       '1.4L Gas I4 Turbo', '4.2L Gas V8', 'V8, TT, 5.5L',
       '3.5l V6 eco boost', '8 Cylinder Engine 4.6L/279',
       '4-Cyl, 2.5 Liter', 'Gas/Electric I4 1.8L/110',
       '2.7L V6 "ECO-BOOST ENGINE (FORD)', '4.0L', '6 cylinder',
       '6.2 LITER V8 ENGINE', '6.2L V8', 'V6 Cylinder Engine 2.7L',
       '8 Cylinder Engine 5.0L', '1.8L 148hp', '6.6 Diesel Duramax',
       '5.0L Flexible V8', '4-Cyl, Turbo, 2.0 Liter',
       '4 Cylinder Engine 1.4L', 'V-6', 'Diesel',
       '4 Cylinder Engine 1.5L/92', '6.0L Flexible V8',
       'L Electric Motor', '2.5L L4', '1.5l ECO 4 cyl Turbo',
       '1.5 Liter 4 Cylinder Engine', '1.8L I4 DI DOHC Turbocharged',
       '2.0L TDI I4 16-valve DOHC diesel engine -inc: aluminum cylinder',
       '8 Cylinder Engine 4.4L', '8 Cylinder Engine 5.5L/333',
       '1.5 LITER ECOBOOST TURBOCHARGED I-4 ENGINE', 'V10, 5.2 Liter',
       '4.0L Twin Turbo V8 630hp 664ft. lbs.', '1.8L',
       '8 Cylinder Engine 5.7L/345', '1.4', '240 hp 3L V6 Diesel',
       '2.3L I4 16V', '3.7L Flexible V6', 'V8 6.0L',
       'V6 Cylinder Engine 3.8L/231', '4 Cylinder Engine 1.3L/82',
       '8 Cylinder Engine 4.8L/293', '5.8L Gas V8',
       '3.5L V6 DOHC Dual VVT-i 24V', '5.5 LITER BI TURBO V8 ENGINE',
       '3.7 V6', 'V6 Cylinder Engine 3.3L',
       'Diesel V6 Cylinder Engine 3.0L', '8 Cylinder Engine 5.4L/330',
       '2.0 LITER 4-CYLINDER ENGINE', '6.7 Cummings', '2.0L Ecoboost',
       '1.6 Ecoboost', '2.0 L L4', '3.6 V6', '3.5L Twin-Turbo Gas V6',
       '2.5L Gas I5', '6.6 DURAMAX DIESEL', 'V6 3.8L', '3.9L V6 24V',
       '2.0L TDI 16-valve I4 diesel engine', 'Hybrid',
       '1.6 LITER TURBO FOUR CYLINDER ENGINE',
       '2.5 LITER I-4 FOUR CYLINDER ENGINE',
       '2.7 LITER ECOBOOST V6 ENGINE', '2.0L L4 DOHC 16V',
       '24 V 3.5 L V6 SOHC i-VTEC', '5.0L V8 FFV',
       '8 Cylinder Engine 6.2L/376', '2.4L L4 DOHC 16V', '6.5L Gas V12',
       'Turbo V6', '5.5L V8 TWIN TURBO ENGINE', '5.5', '3.6L 400.0hp',
       '1.5L 4 CYL', '3.5 Hybrid', '3.0L I6',
       '8 Cylinder Engine 5.3L/323', '3.0 L V6', '5.3L V8 16V',
       '6.2L Supercharged V8 LT5 755 hp', '5.4L Gas V8', '5.7L', '5.4',
       '2.2L Gas I4', '1.5L I4 Turbocharger',
       '4.0 LITER TWIN TURBO V8 ENGINE',
       '2.5L Electric and Gas Hybrid I4',
       '2.5L DOHC Intercooled High Boost Turbo Engine',
       '6.4L V8 16 HEMI ENGINE', '2.4L I4 DOHC i-VTEC 16V',
       '3.0L 300hp 24-Valve Inline 6-Cyl Dual Overhead Cam',
       '5.2L Gas V8', '3.5 L V6', 'Flat 6 Cylinder Engine 3.6L/221',
       '1.4 LITER TURBOCHARGED 4 CYLINDER ENGINE',
       '2.4L I4 FOUR CYLINDER ENGINE', '8 CYLINDER', '3.9L Twin turbo',
       '2.3 LITER ECOBOOST TURBOCHARGED I-4 ENGINE',
       '8 Cylinder Engine 6.2L/379', '5.4L Flexible V8',
       '4 Cylinder Engine 2.4L/146', '4.7L 8 cyl AMG',
       '3.5L Gas V6 EcoBoost Turbo', '8 Cylinder Engine 5.7L',
       '6.4 Liter', 'V8 Supercharged', 'Regular Unleaded V-8 5.7 L/345',
       '4-CYLINDER TURBO', 'V6', '2.0L 4-Cyl Engine', '2.5L iVCT',
       '3.3L Flexible V6', 'EcoBoost 2.0L Turbo I',
       'ECOTEC 1.8L I4 DOHC VVT', '6.7L Diesel V8', '6.8', '4.8',
       '2.0L Gas I4 ECOTECH TURBO', '1.5L Gas I4 TURBOCHARGED ENGINE',
       'Intercooled Turbo Premium Unleaded I-4 2.0 L/122',
       '2.5L H4 HORIZONTAL ENGINE', '2.0L H4', '2.0L 16V TwinPower Turbo',
       '5.7', '6.1L Gas V8', '2L Gas I4', '1.4L', '5.2L',
       '3.3L V6 ENGINE', '2.0L Turbo Gas I4', '3.0L ECODIESEL', '4.6',
       '3.7 Liter / 225 HP', 'V8, Twin Turbo, 4.0 Liter', '3.7L V6',
       'EcoTec3 5.3L V8', '1.8L 4-Cylinder DOHC 16V VVT-i', '1.8T CPRA',
       '7.3L Gas V8', '2.0 4 cylinder TURBOCHARGED', '3.6L 6-Cylinder',
       '3.0L Gas V6 Supercharged', '3.6?Liter V6 24?Valve VVT',
       '13.0L L6 DIESEL', '2.5L 4-Cyl Engine', '3.5L V6 Duratec Engine',
       '505hp Supercharged V8', '3.6 L', '4 Cylinders turbo', 'TURBO 4',
       'GAS', '6.4 HEMI', '3.5L Twin Turbo Gas V6',
       '3.6L Boxer H6 DOHC 24V', '2.5L Gas I4 DOHC 16V 170 HP',
       '3.8 LITER V6 ENGINE', '3L', 'Gas V6 3.6L/223', '2.0T',
       '2.0L 4 CYLINDER', 'ELECTRIC MOTOR', '5 Cylinder Engine 2.5L/154',
       'Engine: 1.8 TFSI 4 Cylinder 170 HP',
       '5.7 LITER V8 E-TORQUE HEMI ENGINE', '4.6L Ford Motor V8',
       '2.7L TURBO', '3.6L', '4.0 LITER V6 ENGINE', 'V/6',
       '4 Cylinder Engine 1.5L/91', '2.0 LITER 4 CYLINDER HYBRID ENGINE',
       '3.5L V6 EcoBoost', '6.6 LITER TURBO V8 DIESEL ENGINE', '2L I4 8V',
       '2.5L I4', '5.7L Hemi V8 OHV 16V', 'I4',
       'Power Stroke 6.7L V8 DI 32V OHV Turbodiesel',
       'Premium Unleaded V-10 5.2 L/318', '4.6L Supercharged V8',
       'Honda K24 Supercharged',
       'Twin Turbo Premium Unleaded V-6 3.0 L/182',
       '1.5L I4 SMPI DOHC 16V LEV3-SULEV30', '8 Cylinder Engine 6.2L/378',
       '4 cylinder', '5.4L V8', '1.5L TURBO',
       'Intercooled Turbo Premium Unleaded I-4 2.3 L/140', '2.4L I4',
       'V8, Supercharged, 5.0 Liter', 'V6, Supercharged, 3.0 Liter',
       'L3T 2.3L Turbo', '3.5L V6 DOHC', '4.7L V8 32V', '3.6 V6 DI DOHC',
       '185 HP DOHC 16-Valve', 'V6 Cylinder Engine 3.0L/181',
       'Gas V8 6.2L/', '302', '2.0L 4-Cylinder DOHC 16V i-VTEC',
       '2.0L DOHC Intercooled Turbocharged', '2.3T', 'LS3',
       '4.0L H-6 Aluminum', 'Electric ZEV 258hp', '3.0T V6', '6 CYLINDER',
       '5.0L V8', '8 Cylinder Engine 4.0L/244', '6.0 LITER V8 ENGINE',
       '5.3L 8 CYLINDER', '8 Cylinder Engine', '2.0L L4 DOHC 16V TURBO',
       '111hp', '2.0L TSI', '2.5', 'HEMI 5.7L V8 Multi Displacement VVT',
       '2L H4', 'Intercooled Turbo Regular Unleaded I-4 1.5 L/91',
       'Supercharged 6.2 Liter V8 (LT4) by Procharger', '3.6L V6 DI',
       'Twin-turbocharged 3.0L inline-six',
       '6.2L V8 DI High-Output Engine', '5.3', '5.3L V8', 'Gasoline',
       'Regular Unleaded V-6 3.5 L/213', '4.0L V6 DOHC 24V',
       '5.0 LITER V8 ENGINE', '6.7L 440.0hp',
       '2.7L I4 FOUR CYLINDER ENGINE', '1.6L I4',
       '4.0L Plug-in Hybrid Twin Turbo V8 677hp 626ft. lbs',
       '2.0 LITER ECOBOOST 4 CYLINDER ENGINE', 'V12, 6.3 Liter',
       '3.7L V6 332 HP', '6.2L V8 16V',
       'Intercooled Turbo Gasoline I-4 2.0 L/121',
       'Engine: 3.6L V6 24V VVT', '6.2', '2.9L Gas V6',
       '4.6 Liter Engine - Flex fuel',
       'ECOTEC 1.4L I4 SMPI DOHC Turbocharged VVT', '3.6L V6 SIDI VVT',
       'Gas', '5.2L Supercharged Predator', '2.4L 185.0hp',
       '1.7L Turbo I4 237hp 258ft. lbs.', '2.0L 16V DOHC',
       '1.4L Electric and Gas Hybrid I4', '4.4L twin turbo 560HP',
       '8 Cylinder Engine 3.9L', '2.0L 4 Cylinders', '3.7L TIVCT Engine',
       'VORTEC 6.0', 'Intercooled Supercharger Premium Unleaded V-6 3.0',
       '3.5L V6 EFI DOHC 24V', '2.5L 4-Cylinder DOHC 16V VVT',
       '3.3L V6 DI', '4.4L TWIN TURBO, V8', '2.0L Boxer',
       '5.7L V8 DOHC 32V', '3.6L Gas H6', '2.5L H4 ENGINE',
       '1.5L Electric and Gas Hybrid I3', 'Diesel 4 Cylinder Engine 3.0L',
       '1.4 L', '2.5L V6 ENGINE', '6.0 V8', '6.2 Liter V8',
       '4.0L V6 SMPI DOHC', '1.6 Turbo', '3.0L 493.0hp', 'HEMI',
       'ELECTRIC', '3LITRE', '2L', 'Diesel V6 Cylinder Engine 3.0L/182',
       '4.7L V8 DOHC 32V', '4L V8 32V', 'LT1 6.2L',
       '4.4 LITER TWIN TURBO V8 ENGINE',
       '6.0L Electric and Gas Hybrid V8', '2.0LTurbo', '2.7 V6 turbo',
       '6.2 Supercharged', '6.8L EFI V10',
       '3.6-LITER PENTASTAR V6 SFI DOHC 24-VALVE VVT ENGINE',
       '6.2L V8 SUPERCHARGED, 707 HORSEPOWER AND 645 LB-FT. OF TORQUE.',
       '2.5L Turbo H4 310hp 290ft. lbs.',
       'Direct-injection 2.0L EcoBoost engine', '6.0L V12 BiTurbo',
       '4 Motor AWD', '6.4L V8 SRT HEMI MDS Engine', '6 CYL', '3.3',
       '3.0L TFSI V6 DOHC', '3.0 LITER SUPERCHARGED V6 ENGINE 354HP',
       '5.8 liter Shelby SVT supercharged', '3.7L TIVCT V6',
       '4.4L TWIN-TURBO V8', '3.0L V6 DI', '3.0',
       '8 Cylinder Engine 4.6L', '6.2 Liter LS3 V8', '1.5 TURBO',
       '4.4L Gas V8 Twin Turbo', '392ci/6.4liter', '4.6 Liter V8',
       '5.0 V8 Coyote', '510.0-hp, 5.0-liter, 8 Cylinder Engine',
       'Good Condition', 'V8 Twin Turbo 429HP', '7L V8 16V',
       '5.6L V8 32V', '3.5L V6 MPI', '1.0L Gas I3', '4.6L Flex Fuel V8',
       '5.3 v8', '3.0 Turbo TFSI', '2.7L TWIN-TURBO V6',
       '5.0L Flex Fuel V8 395hp 400ft. lbs.',
       'Premium Unleaded H-6 2.7 L/165', '2.0L ecoboost', '5.3 LTR V8',
       'TDI Diesel', '3.6L DIRECT INJECTION V6 VVT', '1.4L L4',
       'Diesel 4 Cylinder Engine 2.1L', '4.3L Gas V6', '2.0L Turbo',
       'Gas/Ethanol V8 5.3L/323', '3.0L 6 Cylinders', '3.0 V6 Turbo',
       '4.8L 8Cyl. Gasoline Engine',
       '3.7-LITER TI-VCT ALUMINUM V6 ENGINE', '5.4L',
       '3.6L DIRECT-INJECTION V6 VVT ENGINE', '6.2 v8', '6.6L V8 Diesel',
       '5.5L DOHC 32-valve V8 engine', 'V6 2.5L', '3.0L Gas H6',
       '2.0L TWIN-SCROLL TURBOCHARGED, DIRECT-INJECTION', '2.4', '4.0',
       '2.3L 4-Cyl Turbo', '3.0L I6 Turbocharger', 'Gas I6 3.0L/183',
       '8 Cylinder Engine 5.3L', '7.0L V8 505hp 481ft. lbs.', '1.8L I4',
       '4.8L V8 Gasoline Engine', '3.6L VVT, DI V6 DIRECT INJECTION',
       '3.6L V6 (300hp)', '6.0L 8V/700hp.', '6.0L', '3.5L Gas V6 ENGINE',
       'TURBO 2.0-LITER GTDI I-4 ENGINE (TI-VCT)', '3.0 diesel',
       '2.8-L L-4 DOHC 16V Turbo Diese',
       '4.6 LITER TURBOCHARGED V8 ENGINE', '3.5L V6 280hp 262ft. lbs.',
       '3.5L V6 CYLINDER', '2.0L 4-Cylinder DOHC 16V Turbocharged',
       '3.0 L TWIN TURBO', '1.5', '3.5L V6 Ecoboost High Output',
       '8 Cylinder Engine 6.0L/364',
       'Twin Turbo Premium Unleaded V-6 3.0 L/183', 'V12, 6.0 Liter',
       'ENGINE: 6.7L 4V OHV POWER STROKE V8 TURBO DIESEL B', '4.6L',
       '2.0 ecoboost', '1.8L Plug-in Hybrid I4 134hp',
       '4.7L V8 433hp 361ft. lbs.', '4.0 Liter V6', '6 cyl',
       '4-Cyl, Turbo, 1.5 Liter',
       'HEMI 6.2L Supercharged V8 808hp 717ft. lbs.',
       '4.4L Twin Turbo V8 500hp 516ft. lbs.',
       'Turbocharged Gas I4 2.0L/121', '6.2L Gas V8 SUPERCHARGED',
       '3.0L Diesel Turbo V6 254hp 440ft. lbs.',
       '3.5L V6 Gasoline Engine', 'Coyote 5.0', '5.6 LITER V8 ENGINE',
       '5.0L Flex Fuel V8 385hp 387ft. lbs.',
       'IMPRESSIVE EFFICIENT ENGINE 3.2-LITER PENTASTAR V6',
       'Intercooled Turbo Premium Unleaded I-4 2.0 L/121', '2.5L H4 16V',
       '6.2l Gas', '3.5L',
       '3.6L PENTASTAR V6 24V, VARIABLE VALVE TIMING WITH ESS',
       'Diesel 8 Cylinder Engine 6.7L/406', '2.0 CJAA', 'W12 6.3L',
       '6.6L V8 TURBO DIESEL ENGINE', '4.7 LITER TWIN TURBO V8 ENGINE',
       '8 Cylinder Engine 5.7L/343', '3.5L DOHC 24-Valve V6 Engine',
       'Twin Turbo Premium Unleaded V-8 4.6 L/285', '3.7 Liter Engine',
       '3.8L Twin Turbo H6 580hp 553ft. lbs.', '6.2 V8',
       '3.5L V6 Gasoline Engine EcoBoost', '6.0', 'V6 4.0L',
       '5.7L V8 HEMI', '3.6L Flexible V6 ENGINE',
       'Diesel 8 Cylinder Engine 6.7L', '5.0L Supercharged V8', 'M272',
       '3.6L V6 285hp 260ft. lbs.', '4.7L V8 Twin Turbocharger', '6.6',
       '2.0 L', '5.0 LITER', '6.7L POWERSTROKE DIESEL',
       '3.6L 6Cyl. Gasoline Engine', 'Select', '20k engine added at 112k',
       '5.5L 8 Cylinders', 'V6, Twin Turbo, 3.0 Liter', '4.7L V8 BiTurbo',
       '4cyl -Gas', '8.4L V10 640hp 600ft. lbs.', '5.0L V8 Supercharged',
       '6.7 POWERSTROKE DIESEL', '3.5L V6 Twin Turbo Ecoboost',
       'Premium Unleaded V-6 3.5 L/213', '4.8L V8 16V',
       '2.0-LITER I-VTEC V-4 ENGINE', '3.6L H6 SIX CYLINDER ENGINE',
       'V6, EcoBoost, Twin Turbo, 3.5 Liter', '5.3L Ecotec3 V8',
       'V6 3.7 L', 'Eco diesel', '1.8 LITER I-4 ENGINE', '8.4L Gas V10',
       'HEMI 5.7L V8 370hp 395ft. lbs.', '5.7L V8 16V', 'V8, 5.6 Liter',
       '3.7L Gas I5', '3.0T', '1.5L I-4 DI DOHC Turbocharged',
       '3.5L 272HP', '9.0L V10', 'Gas V8 5.3L/325', '650HP Engine',
       'Regular Unleaded I-4 2.4 L/144', '6', 'V8, 5.7 Liter',
       'Diesel I6 3.0L/183', '3.5L DOHC 24-Val Duel VVT-I  V6 Cyl',
       'V6, 3.6 Liter', 'V6 3.6L Natural Aspiration', '1.8',
       'Engine, 6.2L (376 ci) V8 DI (455 hp [339.3 kW] @ 6',
       '5.2L V10 40V', 'Premium Unleaded I-3 1.0 L/61',
       '8 Cylinder Engine 4.4L/268', 'Gas V6 3.5L/213',
       '6.2L V8 415hp 415ft. lbs.', '6 Cylinders engine -3.6 L -DOHC 24',
       '3.7 Liter Engine FLEXFUEL', '6L W12 48V', '6.0L W12',
       'Regular Unleaded I-4 2.5 L/152',
       'Intercooled Turbo Premium Unleaded I-6 3.0 L/183', '5.6L V8',
       '12', 'Turbocharged Gas I4 2.0L/', '2 4 Cylinder Engine',
       'Q-Drive - Dual 150kW Electric Drive Motors',
       '3.5L V6 Cylinder Engine', '4-Cyl, 2.4 Liter',
       '3.0L V6 Supercharger', 'Gas V8 5.7L/345',
       '3.6-LITER PENTASTAR V6 SFI DOHC 24-VALVE VVT', 'Gas V6 3.5L/211',
       'Regular Unleaded H-4 2.5 L/152',
       '2.0L Turbo I4 241hp 273ft. lbs.', '4-Cyl, Turbo, 2.5 Liter',
       'Gas 4-Cyl 2.2L/134.3', 'Gas V6 3.6L/217', 'Gas V6 3.7L/227',
       'Intercooled Turbo Premium Unleaded H-4 2.5 L/150', '3.3L V6 12V',
       'Intercooled Turbo Premium Unleaded I-6 3.0 L/182',
       'Gas I4 2.5L/152', 'Gas V6 3.7L/223',
       'Regular Unleaded I-4 2.0 L/122', 'Gas/Electric I-4 1.5 L/91',
       '6.2L 8-Cyl Engine', '1.8L I-4 DOHC Dual VVT-i Engine'],
      dtype=object)

In [18]:
# compiled_data_df['engine'] = compiled_data_df['engine'].apply(lambda x: x.replace('LITER', "L"))
# compiled_data_df['engine'] = compiled_data_df['engine'].apply(lambda x: x.replace(' ', ""))

In [19]:
# def CleanEngineColumn(string):
#     pattern = r'\d+(?:\.\d+)?L'
#     matches = re.findall(pattern, string)
#     return ', '.join(matches)

# compiled_data_df['engine'] = compiled_data_df['engine'].apply(lambda x: CleanEngineColumn(x))
# compiled_data_df.head()

In [43]:
compiled_data_df.to_csv('./data/cleaned-data.csv', index=False)

In [44]:
import json

makes_list = compiled_data_df['make'].unique().tolist()

json_object = json.dumps(makes_list, indent=4)

with open("./data/info/makes.json", "w") as outfile:
    outfile.write(json_object)

In [45]:
vehicle_titles_list = compiled_data_df['vehicle_title'].unique().tolist()

json_object = json.dumps(vehicle_titles_list, indent=4)

with open("./data/info/titles.json", "w") as outfile:
    outfile.write(json_object)

In [42]:
compiled_data_df = compiled_data_df[compiled_data_df['vehicle_title'] != 'Lemon & Manufacturer Buyback']
compiled_data_df = compiled_data_df[compiled_data_df['vehicle_title'] != 'Rebuilt, Salvage']
compiled_data_df = compiled_data_df[compiled_data_df['vehicle_title'] != '2015 ford f550 bus with wheelchair lift']
compiled_data_df = compiled_data_df[compiled_data_df['vehicle_title'] != '--']
compiled_data_df = compiled_data_df[compiled_data_df['vehicle_title'] != 'Finance Owing, Encumbered']
compiled_data_df = compiled_data_df[compiled_data_df['vehicle_title'] != 'Clear']

templist = compiled_data_df['vehicle_title'].unique()
print(templist)

['Rebuilt, Rebuildable & Reconstructed' 'Clean' 'Salvage'
 'Flood, Water Damage']

In [46]:
# Format: {
#   "Ford" : ["F150", "ModelT"]
# }

model_dict = {}

for make in makes_list:
    temp_df = compiled_data_df[compiled_data_df['make'] == make]
    models = temp_df['model'].unique().tolist()
    model_dict[make] = models

json_object = json.dumps(model_dict, indent=4)

with open("./data/info/models.json", "w") as outfile:
    outfile.write(json_object)